@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f7f7f7;
  color: #000;
  min-height: 100vh;
  margin: 0;
  font-family: "Inter";
}

.container {
  margin: 30px auto;
  width: 350px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

a {
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.1s;
}
.active {
  color: #000;
  background-color: #fff;
  border-radius: 1rem;
}

.navbar {
  background-color: #ae4e38;
  padding: 0 2rem;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar.true {
  box-shadow: 0 2px 5px #000;
}

.footerText {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

#login,
#signOut {
  margin-right: 0;
}

.loginForm {
  background-color: #f0d9c7;
  width: 25rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
fieldset {
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
}
legend {
  font-size: 1.2rem;
  font-weight: 600;
}
.loginForm form {
  display: flex;
  flex-direction: column;
}
.loginForm form input {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.8rem;
  outline: 1.5px solid #ae4e38;
  border: none;
  border-radius: 0.25rem;
  &:focus {
    box-shadow: inset 0 0 5px 2px #db8065;
  }
}
.loginForm form input[type="submit"] {
  cursor: pointer;
  box-shadow: none;
  font-weight: 700;
  outline: none;
  background-color: #db8065;
  transition: all 0.2s;

  &:hover {
    background-color: #ae4e38;
    color: #fff;
    transform: translateY(-2px);
  }
}

.loginForm .pass {
  width: 100%;
  position: relative;
}
.loginForm .pass input {
  width: 100%;
}
.loginForm .pass span {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-65%);
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
}
.socialLogin {
  position: relative;
  padding-bottom: 0.5rem;

  p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
  }

  & p::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 45%;
    background-color: #fff;
    right: 0;
    top: 50%;
  }
  & p::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 45%;
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}
.socialLoginBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;

  button {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.5rem 0.2rem;
    width: 49%;
    border: none;
    border-radius: 0.25rem;
    background-color: #ae4e38;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      background-color: rgba(174, 78, 56, 0.75);
      color: black;
      box-shadow: 0 0 4px 2px black;
    }
  }
}
.socialLogin::after {
  content: "";
  height: 0.12rem;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 2px #fff;
}

.loginPageSignUpBtn,
.SignUpPageLoginBtn {
  margin-top: 1rem;
  text-align: center;
}
.loginPageSignUpBtn a,
.SignUpPageLoginBtn a {
  background-color: transparent;
  color: blue;
}

.loginForm form .red {
  outline: 1px solid red;
  color: red;
  animation: shaking 0.1s ease 2;
}

.loginForm form .message {
  color: red;
  animation: shaking 0.1s ease 2;
  margin-bottom: 0.5rem;
  text-align: center;
}
@keyframes shaking {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5rem);
  }
}

.userListWrapper {
  padding: 2rem 1rem;
}

.userList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.singleUser:nth-child(3n) {
  & .userInfo {
    top: -101%;
  }
}
.singleUser:nth-child(2n) {
  & .userInfo {
    left: 101%;
  }
  &:hover .userInfo {
    left: 0;
  }
}

.singleUser {
  background-color: #f0d9c7;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  & .userInfo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 101%;
    left: 0;
    transition: all 0.5s;
    background-color: rgba(174, 78, 56, 0.9);
    color: #fff;
    border-radius: 0.5rem;

    & table {
      width: 100%;
      border-collapse: collapse;

      & tr {
        width: 100%;
        & td {
          width: 50%;
          border: 1px solid #fff;
          padding: 0.25rem;
        }
        & td:first-child {
          text-align: end;
        }
      }
      & tr:nth-child(4) {
        border: 1px solid #fff;
        & td {
          padding: 0.25rem;
          text-align: left;
          border: none;
        }
      }
    }
    & .detailsBtn {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
      font-weight: 600;
      padding: 0.5rem 2rem;
      cursor: pointer;
      background-color: #ffffff;
      color: #000;
      border: 2px solid #ae4e38;
      border-radius: 0.5rem;
      transition: all 0.25s;
      &:hover {
        box-shadow: 0 0 0.3rem 0.1rem #fff;
        translate: 0 -5px;
      }
    }
  }
  &:hover .userInfo {
    top: 0;
  }
}

.userDetailsContainer {
  min-height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  & .userDetailsWrapper {
    box-shadow: 0 0 20px 2px gray;
    padding: 3rem 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f0d9c7;
    position: relative;

    & .userPic {
      background-color: #fff;
      border-radius: 25%;
      overflow: hidden;
    }

    & table {
      margin-bottom: 1rem;
      width: 100%;
    }
    & table,
    tr,
    td {
      border: 1px solid #ae4e38;
      border-collapse: collapse;
    }

    & tr:first-child td {
      font-size: 1.3rem;
      font-weight: 600;
    }

    & td {
      padding: 0.2rem;
    }
    & td:first-child {
      font-weight: 600;
      width: 10rem;
    }

    & .goBackBtn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all 1s;

      & .icon {
        font-size: 3rem;
        color: red;
      }
      &:hover {
        transform: rotateZ(360deg);
      }
    }
  }
}

/**
not found page 
*/

.page_404 {
  background: #fff;
  font-family: "Arvo", serif;

  & .container {
    border: none;
  }
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

/*****************************************

Spinner
***********************************/
.SpinnerBack {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  animation: rotate 1.5s ease-in infinite alternate;
}
.loader::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ff3d00;
  background: currentColor;
  width: 64px;
  height: 32px;
  border-radius: 0 0 50px 50px;
}
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  background: #000;
  width: 8px;
  height: 64px;
  animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*
products
*/

.products {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 18rem));
  gap: 2rem;
}

.productCard {
  height: 24rem;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.5s;
  border-radius: 0.5rem;
  border: 1px solid black;

  &:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.5) 0px 5px 10px;
  }
}

.detailsContainer {
  position: absolute;
  background-color: #ae4e38;
  width: 130%;
  height: 125%;
  top: -100%;
  right: -100%;
  display: flex;
  align-items: end;
  border-radius: 35%;
  transition: all 0.5s;

  .description {
    position: absolute;
    background-color: rgba(240, 217, 199, 0.85);
    width: 38%;
    height: 38.5%;
    padding: 0.5rem;
    top: 21rem;
    left: 8rem;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  .iIcon {
    position: absolute;
    bottom: 2.2rem;
    left: 2.8rem;
    font-size: 2rem;
    transition: all 0.5s;
    color: #fff;
  }

  &:hover {
    width: 240%;
    height: 240%;
    border-radius: 50%;
    background-color: rgba(174, 78, 56, 0.5);

    .iIcon {
      opacity: 0;
    }
    .description {
      opacity: 1;
    }
  }
}
.productImg {
  position: relative;
  /* overflow: hidden; */
}

.productImg img {
  width: 100%;
  height: 20rem;
}

.productInfo {
  position: relative;
  width: 200%;
}

.cartBtns {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: -0.25rem;
  transition: all 0.5s;
  border-top: 1px solid black;
  & .addToCart {
    display: flex;
    width: 100%;

    & .cardTitle {
      width: 75%;
      padding: 0.5rem;

      & h4 {
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 0.25rem;
      }
    }
    & .addBtn {
      width: 25%;
      padding: 0.5rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid black;
      transition: background-color 0.5s;
      &:hover {
        background-color: lightgreen;
      }
    }
  }
  & .removeFromCart {
    width: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;

    & .removeBtn {
      width: 25%;
      height: 100%;
      padding: 0.5rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid black;
      transition: background-color 0.5s, color 0.5s;

      &:hover {
        background-color: #f00;
        color: #fff;
      }
    }

    & .addedText {
      width: 75%;
      padding: 0.5rem;
      text-align: center;
    }
  }
}
.cartBtns.true {
  left: -50%;
}
/*
pagesBtn
*/

.pagesBtn {
  margin-left: 10px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}
.pagesBtn.true {
  background-color: #39ac31;
}

/*
card
*/

/* 
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #24b9eb;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (max-width: 320px) {
  .container {
    width: 300px;
  }
} */
